@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700");
a {
  text-decoration: none; }

p {
  padding: 0 0;
  margin: 0 0; }

menu {
  padding: 0 0;
  margin: 0 0; }

ul {
  padding: 0 0;
  margin: 0 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0 0;
  padding: 0 0; }

article, section {
  display: block; }

body {
  /*background: #000;*/
  font-family: 'Montserrat', sans-serif; }

.header {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100%;
  height: 190px;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  line-height: 170px; }
  .header__content {
    height: 100%;
    max-width: 1720px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.23); }
  .header.active {
    background: rgba(0, 0, 0, 0.5);
    height: 100px;
    line-height: 100px; }
    .header.active .header__content {
      border-bottom: none; }

.header-menu {
  text-align: center;
  width: 50%; }
  .header-menu__link {
    color: #fff;
    text-transform: uppercase;
    margin: 0 25px;
    font-weight: bold;
    font-size: 14px;
    outline: none;
    -webkit-transition: color .3s ease-out;
    transition: color .3s ease-out; }
    .header-menu__link:hover, .header-menu__link:focus {
      color: #da7074;
      text-decoration: none; }

.header-menu-toggle {
  padding: 0 0;
  margin: 0 10px;
  border: none;
  outline: none;
  background: transparent; }
  .header-menu-toggle img {
    width: 100%;
    max-width: 24px; }

.header-search {
  float: right; }
  .header-search__input {
    line-height: 0;
    opacity: 0;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
    border: none;
    width: 0;
    font-size: 14px;
    background: #fff;
    border: 1px solid #565656;
    padding: 2px 5px;
    border-radius: 3px;
    outline: none;
    color: #565656; }
    .header-search__input.active {
      opacity: 1;
      width: 140px; }
    .header-search__input:focus {
      border-color: #da7074; }
  .header-search button {
    background: transparent;
    height: auto;
    width: auto;
    line-height: 0;
    border: none;
    outline: none; }
    .header-search button img {
      width: 100%;
      max-width: 20px; }

.home {
  height: 100vh;
  width: 100%;
  background: url(../images/bg.png) no-repeat center #fff; }

.home-content {
  position: absolute;
  left: 0;
  bottom: 20px;
  width: 100%; }

.home-description {
  text-align: center;
  color: #fff;
  position: relative;
  margin-bottom: 30px; }
  .home-description::before, .home-description::after {
    content: "";
    display: block;
    background: #da7074;
    width: 1px;
    height: 120px;
    margin: 70px auto 0; }
  .home-description::before {
    position: absolute;
    left: 50%;
    bottom: 0;
    margin: 20px -4px; }
  .home-description__title {
    font-family: "Times New Roman";
    font-size: 9vw; }
  .home-description__text {
    max-width: 550px;
    margin: 15px auto 30px;
    line-height: 26px; }
  .home-description__link {
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
    background: #da7074;
    padding: 6px 41px;
    border-radius: 25px;
    height: 30px;
    line-height: 30px;
    position: relative; }
    .home-description__link::before, .home-description__link::after {
      content: "";
      display: block;
      background: #da7074;
      position: absolute;
      right: 140px;
      top: 50%;
      height: 1px;
      width: 100%;
      max-width: 140px;
      -webkit-transition: all .4s ease-out;
      transition: all .4s ease-out; }
    .home-description__link::after {
      right: inherit;
      left: 140px; }
    .home-description__link:hover {
      color: #fff;
      text-decoration: none; }
      .home-description__link:hover::before, .home-description__link:hover::after {
        max-width: 100px; }

.down {
  border: none;
  background: transparent;
  margin: auto;
  display: block;
  outline: none;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg); }
  .down:hover {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg); }
  .down img {
    width: 100%;
    max-width: 80px; }

.about-item {
  position: relative;
  width: 100%;
  overflow: hidden;
  cursor: pointer; }
  .about-item img {
    width: 100%;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: all .4s linear;
    transition: all .4s linear; }
  .about-item::after {
    content: "";
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    opacity: 0;
    -webkit-transition: all .2s linear;
    transition: all .2s linear; }
  .about-item:hover::after {
    opacity: 1; }
  .about-item:hover img {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }

.about-item-content {
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: 0;
  color: #fff;
  width: 100%;
  text-align: center;
  padding-bottom: 100px; }
  .about-item-content__title {
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 1px;
    margin: 15px 0; }
  .about-item-content__text {
    font-style: italic;
    font-size: 14px;
    font-weight: 300; }

.contacts {
  padding: 110px 98px 120px;
  display: block;
  width: 100%; }
  .contacts__content {
    max-width: 1520px; }

.contact-item {
  margin-bottom: 30px; }
  .contact-item__title {
    font-size: 14px;
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
    margin-bottom: 25px; }
  .contact-item__list {
    list-style: none; }
    .contact-item__list li {
      margin: 7px 0 0; }
    .contact-item__list a {
      text-decoration: none;
      color: #565656;
      font-style: italic;
      font-size: 12px;
      font-weight: 300;
      -webkit-transition: all .2s linear;
      transition: all .2s linear; }
      .contact-item__list a:hover {
        color: #000; }
  .contact-item__text {
    line-height: 22px;
    color: #565656;
    font-style: italic;
    font-size: 12px;
    font-weight: 300; }

.footer {
  height: 95px;
  width: 100%;
  display: block;
  line-height: 95px;
  background: #000; }

.copyright {
  text-align: center;
  color: #fff;
  font-size: 12px;
  font-style: italic;
  opacity: .2; }

.wrap-popup {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 12;
  display: none;
  overflow-x: hidden;
  overflow-y: auto; }

.content-popup {
  position: relative;
  width: 100%;
  max-width: 600px;
  height: auto;
  min-height: 580px;
  margin: 0 auto;
  background: #fff;
  color: #000;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  padding: 0;
  z-index: 14; }
  .content-popup .close-popup {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
    color: #fff;
    opacity: .7;
    font-size: 70px;
    padding: 0 10px;
    margin: -20px 0;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out; }
    .content-popup .close-popup:hover {
      opacity: 1; }

.popup-info {
  padding-bottom: 20px; }
  .popup-info img {
    width: 100%; }
  .popup-info__title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    margin: 15px 0 10px;
    padding: 0 20px; }
  .popup-info__text {
    color: #565656;
    font-size: 14px;
    line-height: 24px;
    font-style: italic;
    padding: 0 20px; }

@media only screen and (max-height: 800px) {
  .home-description__title {
    font-size: 7vw; }
  .home-description::before, .home-description::after {
    height: 80px; }
  .down img {
    max-width: 70px; } }

/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .contacts {
    padding: 60px 30px; }
  .contact-item {
    text-align: center; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
  .header {
    height: 120px;
    line-height: 120px; }
  .header-menu {
    width: 100%;
    background: rgba(0, 0, 0, 0.5); }
    .header-menu__link {
      display: block;
      line-height: 60px; }
  .home {
    min-height: 100vh;
    height: auto; }
  .home-content {
    position: static;
    padding: 140px 0 30px; }
  .content-popup {
    top: 0;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%); } }

/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
@media only screen and (min-width: 767px) {
  .header-menu {
    display: block; } }

/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
.no-padding {
  padding: 0 0; }
