@media only screen and (max-height : 800px) {
    .home-description {
        &__title {
            font-size: 7vw;
        }
        &::before, &::after {
            height: 80px;
        }
    }
    .down {
        img {
            max-width: 70px;
        }
    }
}

/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .contacts {
        padding: 60px 30px;
    }
    .contact-item {
        text-align: center;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
    .header {
        height: 120px;
        line-height: 120px;
    }

    .header-menu {
        width: 100%;
        background: rgba(0, 0, 0, 0.5);
        &__link {
            display: block;
            line-height: 60px;
        }
    }

    .home {
        min-height: 100vh;
        height: auto;
    }
    .home-content {
        position: static;
        padding: 140px 0 30px;
    }

    // POPUP
   .content-popup {
       top: 0;
       transform: translate(0%, 0%);
   }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 767px) {
    .header-menu {
        display: block;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
