
a {
    text-decoration: none;
}

p {
    padding: 0 0;
    margin: 0 0;
}

menu {
    padding: 0 0;
    margin: 0 0;
}

ul {
    padding: 0 0;
    margin: 0 0;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0 0;
    padding: 0 0;
}

article, section {
    display: block;
}
