@import "fonts";
@import "reset";

body {
    /*background: #000;*/
    font-family: 'Montserrat', sans-serif;
}

.header {
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    width: 100%;
    height: 190px;
    transition: all .2s linear;
    line-height: 170px;
    &__content {
        height: 100%;
        max-width: 1720px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.23);
    }

    &.active {
        background: rgba(0, 0, 0, 0.5);
        height: 100px;
        line-height: 100px;
        .header__content {
            border-bottom: none;
        }
    }
}

.header-menu {
    text-align: center;
    width: 50%;
    &__link {
        color: #fff;
        text-transform: uppercase;
        margin: 0 25px;
        font-weight: bold;
        font-size: 14px;
        outline: none;
        transition: color .3s ease-out;
        &:hover, &:focus {
            color: #da7074;
            text-decoration: none;
        }
    }
}

.header-menu-toggle {
    padding: 0 0;
    margin: 0 10px;
    border: none;
    outline: none;
    background: transparent;
    img {
        width: 100%;
        max-width: 24px;
    }
}

.header-search {
    float: right;
    &__input {
        line-height: 0;
        opacity: 0;
        transition: all .2s linear;
        border: none;
        width: 0;
        font-size: 14px;
        background: #fff;
        border: 1px solid #565656;
        padding: 2px 5px;
        border-radius: 3px;
        outline: none;
        color: #565656;
        &.active {
            opacity: 1;
            width: 140px;
            // border-color: #0f0;
        }

        &:focus {
            border-color: #da7074;
        }
    }
    button {
        background: transparent;
        height: auto;
        width: auto;
        line-height: 0;
        border: none;
        // font-size: 22px;
        outline: none;
        img {
            width: 100%;
            max-width: 20px;
        }
    }
}
// HEADER END ++++++++++


// HOME/MAIN -------
.home {
    height: 100vh;
    width: 100%;
    background: url(../images/bg.png) no-repeat center #fff;
}

.home-content {
    // position: relative;
    // top: 20%;
    // left: 0;
    // height: 80%;
    position: absolute;
    left: 0;
    bottom: 20px;
    width: 100%;
}

.home-description {
    text-align: center;
    color: #fff;
    position: relative;
    margin-bottom: 30px;
    &::before, &::after {
        content: "";
        display: block;
        background: #da7074;
        width: 1px;
        // height: 190px;
        height: 120px;
        margin: 70px auto 0;
    }

    &::before {
        position: absolute;
        left: 50%;
        bottom: 0;
        margin: 20px -4px;
    }

    &__title {
        font-family: "Times New Roman";
        // font-size: 140px;
        font-size: 9vw;
    }

    &__text {
        max-width: 550px;
        margin: 15px auto 30px;
        line-height: 26px;
    }

    &__link {
        text-transform: uppercase;
        font-size: 14px;
        color: #fff;
        background: #da7074;
        padding: 6px 41px;
        border-radius: 25px;
        height: 30px;
        line-height: 30px;
        position: relative;
        &::before, &::after {
            content: "";
            display: block;
            background: #da7074;
            position: absolute;
            right: 140px;
            top: 50%;
            height: 1px;
            width: 100%;
            max-width: 140px;
            transition: all .4s ease-out;
        }
        &::after {
            right: inherit;
            left: 140px;
        }
        &:hover {
            color: #fff;
            text-decoration: none;
            &::before, &::after {
                max-width: 100px;
            }
        }
    }
}

.down {
    border: none;
    background: transparent;
    margin: auto;
    display: block;
    outline: none;
    transition: all .3s ease-in;
    transform: rotate(0deg);
    &:hover {
        transform: rotate(90deg);
    }

    img {
        width: 100%;
        max-width: 80px;
    }
}

// ABOUT +++++++++++
.about-item {
    position: relative;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
    img {
        width: 100%;
        transform: scale(1);
        transition: all .4s linear;
    }
    &::after {
        content: "";
        position: absolute;
        z-index: 2;
        left: 0;
        top: 0;
        background: rgba(0, 0, 0, 0.5);
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: all .2s linear;
    }

    &:hover {
        &::after {
            opacity: 1;
        }
        img {
            transform: scale(1.1);
        }
    }
}

.about-item-content {
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 0;
    color: #fff;
    width: 100%;
    text-align: center;
    padding-bottom: 100px;
    &__title {
        text-transform: uppercase;
        font-size: 18px;
        letter-spacing: 1px;
        margin: 15px 0;
    }
    &__text {
        font-style: italic;
        font-size: 14px;
        font-weight: 300;
    }
}

// CONTACTS -------------
.contacts {
    padding: 110px 98px 120px;
    display: block;
    width: 100%;

    &__content {
        max-width: 1520px;
    }
}

.contact-item {
    margin-bottom: 30px;
    &__title {
        font-size: 14px;
        text-transform: uppercase;
        color: #000;
        font-weight: bold;
        margin-bottom: 25px;
    }

    &__list {
        list-style: none;
        li {
            margin: 7px 0 0;
        }
        a {
            text-decoration: none;
            color: #565656;
            font-style: italic;
            font-size: 12px;
            font-weight: 300;
            transition: all .2s linear;
            &:hover {
                color: #000;
            }
        }
    }

    &__text {
        line-height: 22px;
        color: #565656;
        font-style: italic;
        font-size: 12px;
        font-weight: 300;
    }
}

.contact-item-list {

}

// FOOTER -----------
.footer {
    height: 95px;
    width: 100%;
    display: block;
    line-height: 95px;
    background: #000;
}

.copyright {
    text-align: center;
    color: #fff;
    font-size: 12px;
    font-style: italic;
    opacity: .2;
}


// POPUP
.wrap-popup {
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 12;
    display: none;
    overflow-x: hidden;
    overflow-y: auto;
}

.content-popup {
    position: relative;
    width: 100%;
    max-width: 600px;
    height: auto;
    min-height: 580px;
    margin: 0 auto;
    background: #fff;
    color: #000;
    top: 50%;
    transform: translate(0%, -50%);
    padding: 0;
    z-index: 14;
    .close-popup {
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px;
        cursor: pointer;
        color: #fff;
        opacity: .7;
        font-size: 70px;
        padding: 0 10px;
        margin: -20px 0;
        transition: .4s ease-out;
        &:hover {
            opacity: 1;
        }
    }
}

.popup-info {
    padding-bottom: 20px;
    img {
        width: 100%;
    }
    &__title {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 16px;
        margin: 15px 0 10px;
        padding: 0 20px;
    }
    &__text {
        color: #565656;
        font-size: 14px;
        line-height: 24px;
        font-style: italic;
        padding: 0 20px;
    }
}

@import "media";

.no-padding {
    padding: 0 0;
}
